body {
    color: #343f51; 
    background-color: #343f51;
    font-family: "Roboto", sans-serif;
}

div {
    border-radius: 7px;
}

.nav-link {
    color: #343f51 !important;
}

.nav-link.active {
    font-weight: bold;
}

header {
    background-color: #BBBE64;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend", sans-serif;
    letter-spacing: -1px

}

#logo {
    
    font-size: 1.7em;
    font-weight: 600;
}

nav .bgcolour {
    background-color: #bbbe64;
}

.feat-img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}