body {
    
    background-color: #343f51;
  
}
div {
    border-radius: 7px;
}
#logo {
    
    font-size: 1.7em;
    font-weight: 600;
}

nav .bgcolour {
    background-color: #bbbe64;
}

.section-banner {

    
}